#second
{
    height: 0px;
    background-color: white;
    transition: 3s;
}
#description{
    position: absolute;
    font-size: 90px;
    font-family: 'Source Sans Pro', serif ;
}
#second:hover #description{
    z-index: 999;
    transition: 5s;
}
#second:hover
{
    height: 730px;
    transition-duration: 3s;

}


#menu{
    width: 175px;
    height: 100px;
    color: white;
    background-color: black;
    border-color: white;
    margin: 20px;
    
}
#menu:hover{

    color: black;
    background-color: white;
    border-color: black;

}
#menu:active{

    color: white;
    background-color: black;
    border-color: white;

}
#categorie{

    font-family: 'Spartan', serif ;
}
#Titre {
    position: absolute;
    padding-top: 150px;
    color: white;
    font-family: 'Source Sans Pro', serif ;
    font-size: 250px;
}
#debut{
    padding-left: 1100px;
    padding-top: 60px;
}
#Utilisateur{
    font-family: 'Source Sans Pro', serif ;
    color: white;
    position: absolute;
    padding-top: 400px;
    font-size: 50px;
    padding-left: 19px;
}

